.reactBtnPrimary {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  margin: auto 5px;
  border-radius: 3px;
  position: relative;
  min-width: 72px;
  padding: 4px 13px;
  display: inline-block;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow, transform;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

.rt-input-search-btn {
    background-color: rgb(235, 226, 226);
    color: #000;
    height: 40px;
    padding: 6px 15px;
    font-size: 16px;
    border-radius: 2px;
}


.rt-input {
    width: 500px;
    margin: 0;
    list-style: none;
    font-size: 16p;
    border: 1px solid rgb(243, 240, 240);
    height: 40px;
}


.rt-input:hover {
    border-color: rgb(138, 131, 131);
}

.rt-input:focus {
    border-color: rgb(138, 21, 21);
}
.rc-table {
    width: 100%;
    text-align: left;
    border-radius: 2px 2px 0 0 ;
    border-spacing: 0;
}

.rc-table-thead-th {
    color: rgb(10, 46, 58);
    background-color: rgb(243, 235, 233);
    font-size: 500;
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #eee7e7;
}

.rc-table-tbody-td {
    border-bottom:  1px solid #eee7e7;
    padding: 12px 8px;
    color: #0f0303;
}
